<% content_for :title do %>
    <%= @title %>
<% end %>

<% if @is_root_entity %>
<div class="alert <% unless @entities.blank? %>alert-info<% else %>alert-warning<% end %> inline-block">
    <p>Welcome to VEDaspector, a tool for exploring election reports in the <a href="http://www.nist.gov/itl/vote/ieee-swg-p1622.cfm">NIST Election Results Reporting data format</a>.</p>

    <% unless @entities.blank? %>
    <p>To get started, select one of the loaded Election Reports below.</p>
    <% else %>
    <p>No Election Reports have been loaded into VEDaspector. Please see the <a class="alert-link" href="https://github.com/TrustTheVote-Project/VEDaspector/blob/master/README.md">README file</a> for instructions on how to get started.</p>
    <% end %>
</div>
<% end %>

<% unless @entities.blank? %>
<h3><%= entity_type_title @entity_type, pluralize: true %></h3>
<div class="list-group">
<% @entities.each do |e| %>
    <a class="list-group-item" href="<%= entity_view_link e %>"><%= entity_title_string e %></a>
<% end %>
</div>
<% else %>
<h3>No <%= entity_type_title @entity_type, pluralize: true %> were found.</h3>
<% end %>

<% if @is_root_entity %>
    <div>
        <a class="btn btn-default" href="<%= entity_type_create_link @entity_type %>">Create new <%= entity_type_title @entity_type %></a>
    </div>
<% end %>
